/* .catalog-container {
  position: relative;
  height: 100%;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .sidbar-container{
    display: flex;
}

.sidebar {
    width: 20%;
    height: 100vh;
    background-color: #eee;
    position: fixed;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a  {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
}

.sidebar ul li a.active {
    background-color: #ddd;
}

.content {
    margin-left: 20%;
    width: 80%;
    padding: 20px;
}

.section {
    height: 100vh;
    margin-bottom: 20px;
}
  
